.accordion {
  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid var(--color-gray-300);
    cursor: pointer;
  }

  &__line {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--color-primary);

    &::after {
      content: '';
      position: absolute;
      top: -7px;
      left: 7px;
      display: inline-block;
      width: 2px;
      height: 16px;
      border-radius: 1px;
      background-color: var(--color-primary);
      opacity: 1;
      transition: opacity .2s ease-in-out;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray-900);
  }

  &__content {
    display: none;
    padding-bottom: 20px;

    & .search {
      margin-right: 0;
      margin-bottom: 16px;
      width: auto;
    }

    &-border {
      padding-top: 30px;
      border-bottom: none;
    }

    & .simplebar-vertical {
      width: 3px;
      border-radius: 3px;
      background-color: var(--color-gray-300);
    }

    & .simplebar-scrollbar {
      width: 3px;
      border-radius: 50%;
      background-color: var(--color-gray-700);
    }
  }

  &[open] {
    & .accordion__control {
      border-bottom: none;
    }

    & .accordion__content {
      display: block;
      border-bottom: 1px solid var(--color-gray-300);
    }

    & .accordion__content-border {
      border-bottom: none;
    }

    & .accordion__line::after {
      opacity: 0;
    }
  }

  &__checkbox {
    max-height: 170px;

    & .simplebar {
      &-content {
        max-height: 170px;
      }
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;

      & .simplebar-content {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &-item-color {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      margin-bottom: 10px;
      width: 52px;
      height: 52px;
    }
  }
}

details summary::-webkit-details-marker,
details summary::marker {
    display: none;
    content: "";
}

