.arrow {
  &-slider {
    width: 24px;
    height: 24px;
    fill: var(--color-gray-800);

    &-trending {
      fill: var(--color-white);
    }

    &-sale {
      fill: var(--color-white);
    }
  }

  &-btn {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    fill: var(--color-primary);
  }

  &-breadcrumbs {
    width: 16px;
    height: 16px;
    fill: var(--color-gray-600);
  }
}
