.banner {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 500px);
    grid-gap: 16px;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &__part {
    padding: 60px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__summer {
    background-image: url(../img/banner-summer.png);
    grid-column: 5 span;
  }

  &__subscriber {
    background-color: var(--color-gray-300);
    background-image: url(../img/banner-subscriber.png);
    background-position: right bottom;
    background-size: auto;
    grid-column: 5 span;
  }

  &__deal {
    background-image: url(../img/banner-deal.png);
    grid-column: 7 span;
  }

  &__new {
    background-image: url(../img/banner-new.png);
    grid-column: 7 span;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__name {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-gray-900);
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    max-width: 320px;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: var(--color-gray-900);

    &-long {
      max-width: none;
    }
  }

  &__link {
    margin-bottom: 20px;
  }

  &__timer {
    margin-top: auto;
  }

  &__descr {
    margin: 0;
    max-width: 330px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray-800);
  }
}
