.brands {
  padding-top: 60px;
  padding-bottom: 120px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    width: 120px;
    height: 64px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center center;

    &-logo1 {
      background-image: url(../img/brand-logo-1.png);
    }

    &-logo2 {
      background-image: url(../img/brand-logo-2.png);
    }

    &-logo3 {
      background-image: url(../img/brand-logo-3.png);
    }

    &-logo4 {
      background-image: url(../img/brand-logo-4.png);
    }

    &-logo5 {
      background-image: url(../img/brand-logo-5.png);
    }

    &-logo6 {
      background-image: url(../img/brand-logo-6.png);
    }
  }
}
