.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  border-radius: 4px;

  &:hover {
    & .card__content-bottom {
      opacity: 1;
    }
  }

  &__picture {
    position: relative;
    border-radius: 4px;
  }

  &__percent {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 54px;
    height: 28px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-danger);
  }

  &__stars {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-none {
      display: none;
    }
  }

  &__star {
    width: 14px;
    height: 14px;
    stroke: var(--color-gray-500);

    &-fill {
      fill: var(--color-warning);
      stroke: var(--color-warning);
    }

    &:not(:last-child) {
      margin-right: 2px;
    }
  }

  &__btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-white);
  }

  &__heart {
    width: 17px;
    height: 15px;
    fill: var(--color-gray-700);
  }

  &__content {
    &-top {
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }

    &-bottom {
      padding-bottom: 16px;
      padding-left: 16px;
      padding-right: 16px;
      display: flex;
      flex-direction: column;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      opacity: 0;
      transition: opacity .2s ease-in-out;

      &-none {
        display: none;
      }
    }

    &-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;

      &-icon {
        margin-right: 8px;
        width: 16px;
        height: 16px;
        fill: var(--color-white);
      }
    }
  }

  &__link {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-gray-800);
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__price {
    display: flex;
    align-items: unset;
    margin-top: auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-gray-900);

    &-real {
      margin-right: 12px;
    }

    &-sell {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      text-decoration-line: line-through;
      color: var(--color-gray700);
    }
  }

  &__tabs {
    display: flex;
    align-items: center;

    &-item {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border: 1px solid var(--color-gray-400);
      border-radius: 50%;
      background-color: var(--color-white);

      & span {
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }

      &-black {
        background-color: #000;
      }

      &-russet {
        background-color: #874E19;
      }

      &-spindel {
        background-color:#C0DDED;
      }

      &-blue-gray {
        background-color: #C0DDED;
      }

      &-yellow {
        background-color: #FCD164;
      }

      &-pink {
        background-color: #E0AEA2;
      }
    }
  }

  &-trending,
  &-arrivals {
    & .card__percent,
    & .card__price-sell,
    & .card__content-bottom {
      display: none;
    }

    & .card__price-real {
      color: var(--color-grey-900);
    }
  }

  &-sale {
    & .card__price-real {
      color: var(--color-danger);
    }

    & .card__content-top {
      position: relative;
    }
  }
}
