.header {
  &__top {
    background-color: var(--color-gray-900);

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 11px;
      padding-bottom: 11px;
    }

    &-available {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-white);
      opacity: 0.6;
    }

    &-tel {
      font-weight: 900;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-white);
      transition: color .2s ease-in-out, outline .2s ease-in-out;

      &:focus {
        outline: none;
      }

      @include hover {
        color: var(--color-danger);
      }

      &.focus-visible {
        outline: 1px solid var(--color-danger);
        outline-offset: 2px;
      }

      &:active {
        color: var(--color-warning);
      }
    }

    &-choice {
      display: flex;
      align-items: center;
    }

    &-select {
      margin-right: 60px;

      & .choices {
        &::after {
          content: url(../img/language-arrow.svg);
          top: 40%;
          right: 10px;
          border: none;
          width: 12px;
          height: 12px;
        }

        & .choices__inner {
          padding-left: 32px;
          min-width: 105px;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          border: none;
          background-image: url(../img/flag-usa.svg);
          background-repeat: no-repeat;
          background-position: left center;
          color: var(--color-white);
          background-color: transparent;
          opacity: 0.6;
          transition: transform .2s ease-in-out;
        }

        &.is-open::after {
          transform: rotate(180deg);
          margin-top: 3px;
        }

        & .choices__list--dropdown {
          border-color: var(--color-gray-900);
          background-color: var(--color-gray-900);
          z-index: 4;

          & .choices__list {
            max-height: 400px;

            & .choices__item--selectable {
              padding: 10px 0 10px 42px;
              font-weight: 400;
              font-size: 14px;
              line-height: 150%;
              color: var(--color-white);
              background-image: url(../img/flag-usa.svg);
              background-repeat: no-repeat;
              background-position: left 10px center;
              opacity: 0.6;

              &.is-highlighted {
                background-color: var(--color-primary);
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &-btns {
      padding-left: 20px;
      background-image: url(../img/log-icon.svg);
      background-repeat: no-repeat;
      background-position: left center;

      & span {
        color: var(--color-white);
        opacity: 0.6;
      }
    }

    &-btn {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-white);
      opacity: 0.6;
      transition: color .2s ease-in-out, outline .2s ease-in-out;

      &:focus {
        outline: none;
      }

      @include hover {
        color: var(--color-danger);
      }

      &.focus-visible {
        outline: 1px solid var(--color-danger);
        outline-offset: 2px;
      }

      &:active {
        color: var(--color-warning);
      }
    }
  }

  &__middle {
    position: relative;
    background-color: var(--color-white);

    &-container {
      display: flex;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &-logo {
      margin-right: 60px;
    }

    &-icons {
      display: flex;
      align-items: center;
    }

    &-count {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: var(--color-gray-800);

      &:first-child {
        margin-right: 40px;

        &::after {
          content: url(../img/divider.svg);
          position: absolute;
          top: 0;
          bottom: 0;
          right: -20px;
        }
      }

      &:focus {
        outline: none;
      }

      &.focus-visible {
        outline: 1px solid var(--color-primary);
        outline-offset: 2px;
      }
    }

    &-icon {
      margin-right: 8px;
      width: 20px;
      height: 20px;
      fill: var(--color-gray-800);
    }

    &-sells {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 23px;
      height: 20px;
      font-weight: 900;
      font-size: 12px;
      line-height: 150%;
      border-radius: 4px;
      color: var(--color-white);
      background-color: var(--color-success);
    }
  }

  &__bottom {
    background-color: var(--color-primary);

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &-content {
      position: relative;
      display: flex;
      align-items: center;

      &::before {
        content: url(../img/middle-arrow.svg);
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
      }

      &::after {
        content: url(../img/middle-arrow.svg);
        position: absolute;
        right: -20px;
        top: 0;
        bottom: 0;
        transform: rotate(180deg);
      }
    }

    &-percent {
      margin-right: 4px;
      font-weight: 900;
      font-size: 12px;
      line-height: 150%;
      color: var(--color-white);
    }

    &-link {
      position: relative;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: var(--color-white);
      transition: color .2s ease-in-out;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1px;
        width: 100%;
        height: 0.6px;
        background-color: var(--color-white);
        transition: background-color .2s ease-in-out;
      }

      &:focus {
        outline: none;
      }

      @include hover {
        color: var(--color-danger);

        &::after {
          background-color: var(--color-danger);
        }
      }

      &:active {
        color: var(--color-warning);


        &::after {
          background-color: var(--color-danger);
        }
      }

      &.focus-visible {
        color: var(--color-danger);
        outline: 1px solid var(--color-danger);
        outline-offset: 2px;


        &::after {
          background-color: var(--color-danger);
        }
      }
    }
  }
}
