.hero {
  &__container {
    padding-bottom: 50px;
  }

  &__swiper {
    &-btn {
      position: absolute;
      top: calc(50% - 24px);
      z-index: 2;

      &--prev {
        left: 30px;
      }

      &--next {
        right: 30px;
      }
    }

    &-pagination {
      position: relative;
      z-index: 2;

      & .swiper-pagination-bullet {
        display: inline-flex;
        flex-direction: column-reverse;
        width: 178px;
        height: 2px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        background-color: var(--color-gray-800);
        color: var(--color-gray-800);
        opacity: .6;

        &-active {
          opacity: 1;
        }
      }
    }
  }

  &__slide {
    background-repeat: no-repeat;
    background-size: cover;

    &-mens {
      background-image: url(../img/hero-slide-mens.png);
    }

    &-womens {
      background-image: url(../img/hero-slide-mens.png);
    }

    &-boys {
      background-image: url(../img/hero-slide-mens.png);
    }

    &-girls {
      background-image: url(../img/hero-slide-mens.png);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    padding-bottom: 415px;
    padding-left: 30px;

    &-collection {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--color-gray-900);
    }

    &-title {
      margin: 0;
      margin-bottom: 60px;
      font-weight: 900;
      font-size: 72px;
      line-height: 130%;
      letter-spacing: 1px;
      color: var(--color-gray-900);
    }

    &-link {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 140px;
  }
}
