.instagram {
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__follow {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-gray-900);
    text-transform: uppercase;
  }

  &__contact {
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-gray-900);
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    fill: var(--color-primary);
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
