.wrapper__box {
  // margin-bottom: 37px;
  width: min(100%, 350px);
}

.wrapper__slider {
  margin-bottom: 20px;
}

/* STYLES FOR TEXT AND FIELDS */
.wrapper__range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}

.range-wrapper__inner {
  display: flex;
  align-items: center;
  max-width: 110px;
}

.range-wrapper__text {
  margin-right: 10px;
  line-height: 130%;
  color: var(--color-grey-shade);
}

.range-wrapper__field {
  width: 110px;
  height: 36px;
  padding-left: 12px;
  border-radius: 4px;
  border: 1px solid var(--color-gray-400);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-gray-800);
  transition-property: border-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.range-wrapper__field::placeholder {
  color: currentColor;
}

.range-wrapper__field:focus {
  outline: none;
  border-color: var(--color-primary);
}

@media screen and (any-hover: hover) {
  .range-wrapper__field:hover {
    border-color: var(--color-primary);
  }
}

.range-wrapper__field:active {
  border-color: var(--color-primary);
}

.range-wrapper__defis {
  width: 8px;
  height: 1px;
  background-color: var(--color-gray-800);
}

/* STYLES FOR THE RANGE SLIDER */
.noUi-target {
  border: none;
  box-shadow: none;
  border-radius: 2px;
  background-color: var(--color-md-grey);
}

.noUi-horizontal {
  height: 2px;
}

.noUi-connects {
  background-color: var(--color-gray-400);
  cursor: pointer;
}

.noUi-connect {
  background-color: var(--color-primary);
}

.noUi-horizontal .noUi-handle {
  right: 0;
  top: -6px;
  width: 9px;
  height: 9px;
}

.noUi-handle {
  border: none;
  border-radius: none;
  background-color: transparent;
  box-shadow: none;
}

.noUi-handle:focus {
  outline: none;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-touch-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.noUi-touch-area::before,
.noUi-touch-area::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-primary);
  cursor: pointer;
}

.noUi-touch-area,
.noUi-touch-area::before,
.noUi-touch-area::after {
  // border-top-right-radius: 30%;
  // background-color: var(--color-primary);
  transition: background-color 0.1s ease-in-out;
}

// .noUi-touch-area {
//   transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
// }

// .noUi-touch-area::before {
//   transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
// }

// .noUi-touch-area::after {
//   transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
// }

.noUi-handle.focus-visible .noUi-touch-area,
.noUi-handle.focus-visible .noUi-touch-area::before,
.noUi-handle.focus-visible .noUi-touch-area::after {
  background-color: var(--color-primary-shade);
}

// @media screen and (any-hover: hover) {
//   .noUi-handle:hover .noUi-touch-area,
//   .noUi-handle:hover .noUi-touch-area::before,
//   .noUi-handle:hover .noUi-touch-area::after {
//     background-color: var(--color-primary-light);
//   }
// }

// .noUi-handle:active .noUi-touch-area,
// .noUi-handle:active .noUi-touch-area::before,
// .noUi-handle:active .noUi-touch-area::after {
//   background-color: var(--color-primary-shade);
// }

.noUi-active {
  box-shadow: none;
}

.noUi-horizontal .noUi-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 22px;
  border-radius: 4px;
  border-color: var(--color-gray-800);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-white);
  background-color: var(--color-gray-800);
}
