.recently {
  &__container {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__btns {
    display: flex;
  }

  &__swiper {
    margin-bottom: 80px;
  }
}
