.review {
  display: flex;
  padding-bottom: 32px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-gray-300);
    margin-bottom: 32px;
  }

  &-swiper {
    margin-bottom: 28px;
  }

  & .card {
    border-radius: 0;
    box-shadow: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    margin-right: 30px;

    &-name {
      margin-bottom: 8px;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      color: var(--color-gray-900);
    }

    &-date {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-gray-700);
    }

    & .card__stars {
      position: initial;
      justify-content: start;
    }
  }

  &__text {
    &-descr {
      margin: 0;
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: var(--color-gray-800);

      &-link {
        font-weight: 700;
        color: var(--color-primary);
      }
    }

    &-feedback {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-btn {
      padding-left: 24px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-gray-700);
      background-image: url(../img/share-arrow.svg);
      background-repeat: no-repeat;
      background-position: center left;
    }

    &-finger {
      padding-left: 24px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-gray-700);
      background-repeat: no-repeat;
      background-position: center left;

      &--like {
        margin-right: 16px;
        background-image: url(../img/like.svg);
      }

      &--dislike {
        background-image: url(../img/dislike.svg);
      }
    }
  }
}
