.sale {
  &__container {
    position: relative;
    padding-top: 90px;
    padding-bottom: 150px;
  }

  &__top {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__btns {
    display: flex;
  }

  &__link {
    display: flex;
    justify-content: center;
  }
}
