.store {
  background-color: var(--color-gray-900);

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
      content: url(../img/store-back.png);
      position: absolute;
      bottom: 0;
      left: 15px;
    }
  }

  &__content {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50%;
  }

  &__descr {
    margin: 0;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: var(--color-white);
  }

  &-list {
    display: flex;
    align-items: center;
  }

  &-item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 162px;
    height: 48px;
    border: 1px solid transparent;
    border-radius: 7px;

    &-apple {
      background-image: url(../img/app-store.svg);
    }

    &-google {
      background-image: url(../img/google-play.svg);
    }
  }
}
