<section class="arrivals">
  <div class="container-wide arrivals__container">
    <h3 class="section-title arrivals__title">New arrivals</h3>
    <div class="arrivals__info">
      <span>Check out our latest arrivals for the upcoming season</span>
      <a href="#" class="arrivals__link">See the collection here</a>
    </div>
    <div class="swiper arrivals__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product1.webp" type="image/webp">
                <img loading="lazy" src="img/product1.png" class="card__image" width="285" height="320" alt="sports cap">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Black and white sport cap</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$18.15</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars card__stars-none">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star">
                  <use xlink:href="img/sprite.svg#card-star"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product2.webp" type="image/webp">
                <img loading="lazy" src="img/product2.png" class="card__image" width="285" height="320" alt="sunglasses">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Metal bridge sunglasses</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$89.95</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star">
                  <use xlink:href="img/sprite.svg#card-star"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product3.webp" type="image/webp">
                <img loading="lazy" src="img/product3.png" class="card__image" width="285" height="320" alt="baby romper">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Green baby romper</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$20.40</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars card__stars-none">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star">
                  <use xlink:href="img/sprite.svg#card-star"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product4.webp" type="image/webp">
                <img loading="lazy" src="img/product4.png" class="card__image" width="285" height="320" alt="slim fit jeans">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Mid-rise slim cropped fit jeans</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$40.00</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product5.webp" type="image/webp">
                <img loading="lazy" src="img/product5.png" class="card__image" width="285" height="320" alt="Red dangle earrings">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Red dangle earrings</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$29.95</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars card__stars-none">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product6.webp" type="image/webp">
                <img loading="lazy" src="img/product6.png" class="card__image" width="285" height="320" alt="Baby shoes with laces">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Baby shoes with laces</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$30.60</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars card__stars-none">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star">
                  <use xlink:href="img/sprite.svg#card-star"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product2.webp" type="image/webp">
                <img loading="lazy" src="img/product2.png" class="card__image" width="285" height="320" alt="sunglasses">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Metal bridge sunglasses</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$89.95</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product1.webp" type="image/webp">
                <img loading="lazy" src="img/product1.png" class="card__image" width="285" height="320" alt="sports cap">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Black and white sport cap</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$18.15</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product5.webp" type="image/webp">
                <img loading="lazy" src="img/product5.png" class="card__image" width="285" height="320" alt="Red dangle earrings">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Red dangle earrings</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$29.95</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star">
                  <use xlink:href="img/sprite.svg#card-star"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product3.webp" type="image/webp">
                <img loading="lazy" src="img/product3.png" class="card__image" width="285" height="320" alt="baby romper">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Green baby romper</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$20.40</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-arrivals">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars card__stars-none">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star">
                  <use xlink:href="img/sprite.svg#card-star"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/product4.webp" type="image/webp">
                <img loading="lazy" src="img/product4.png" class="card__image" width="285" height="320" alt="slim fit jeans">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Mid-rise slim cropped fit jeans</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$40.00</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="arrivals__swiper-pagination"></div>
  </div>
</section>
