<section class="banner">
  <div class="container-wide banner__container">
    <div class="banner__part banner__summer">
      <div class="banner__content">
        <span class="banner__name">Summer Collections</span>
        <h4 class="banner__title">Sale Up to 70%</h4>
        <a href="#" class="btn banner__link">Explore new prices</a>
      </div>
    </div>
    <div class="banner__part banner__deal">
      <div class="banner__content">
        <span class="banner__name">Deal of the week</span>
        <h4 class="banner__title">Stay Warm With Our New Sweaters</h4>
        <a href="#" class="btn banner__link">Shop now</a>
        <div class="banner__timer timer">
          <div class="timer__name">Limited time offer</div>
          <div id="countdown" class="timer__content">
            <ul class="list-reset timer__list">
              <li class="timer__item"><span id="days"></span>Days</li>
              <li class="timer__item"><span id="hours"></span>Hours</li>
              <li class="timer__item"><span id="minutes"></span>Mins</li>
              <li class="timer__item"><span id="seconds"></span>Sec</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="banner__part banner__new">
      <div class="banner__content">
        <span class="banner__name">New Collections</span>
        <h4 class="banner__title">Shoes & Bags autumn&nbsp;/&nbsp;winter 2020</h4>
        <a href="#" class="btn banner__link">See offers
          <svg class="arrow-btn">
            <use xlink:href="img/sprite.svg#arrow-btn-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="banner__part banner__subscriber">
      <div class="banner__content">
        <span class="banner__name">For All new Email Subscribers</span>
        <h4 class="banner__title banner__title-long">Get 5% Off & Free Delivery</h4>
        <div class="subscribe-form">
          <span class="subscribe-form__email">Email</span>
          <form action="#" class="form-1 subscribe-form__form" autocomplete="off">
            <label class="form__label subscribe-form__form-label">
              <input type="text" name="Your working email" class="form__input input-reset subscribe-form__form-input" placeholder="Your working email">
            </label>
            <button type="submit" class="btn-reset btn btn-fill form__btn subscribe-form__form-btn" aria-label="Subscribe">Subscribe</button>
          </form>
        </div>
        <p class="banner__descr">
          *Sign up to be the first to hear about exclusive deals, special offers and upcoming collections.
        </p>
      </div>
    </div>
  </div>
</section>
