<section class="blog">
  <div class="container blog__container">
    <div class="blog__top">
      <h3 class="section-title blog__title">Fashion blog</h3>
      <a href="#" class="btn blog__link">View blog</a>
    </div>
    <ul class="list-reset blog__list">
      <li class="blog__item blog-card">
        <picture>
          <source srcset="img/bag-trend.webp" type="image/webp">
          <img loading="lazy" src="img/bag-trend.png" class="blog-card__image" width="600" height="306" alt="bag trend">
        </picture>
        <div class="blog-card__content">
          <div class="blog-card__title">Bag Trends for Summer 2020</div>
          <ul class="list-reset blog-card__list">
            <li class="blog-card__item">Fashion</li>
            <li class="blog-card__item">August 24, 2020</li>
            <li class="blog-card__item blog-card__item-comments">
              <svg class="blog-card__icon">
                <use xlink:href="img/sprite.svg#comment"></use>
              </svg>
              No comments
            </li>
          </ul>
          <p class="blog-card__descr">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...
          </p>
        </div>
      </li>
      <li class="blog__item blog-card">
        <picture>
          <source srcset="img/sneakers-trend.webp" type="image/webp">
          <img loading="lazy" src="img/sneakers-trend.png" class="blog-card__image" width="600" height="306" alt="sneakers trend">
        </picture>
        <div class="blog-card__content">
          <div class="blog-card__title">Top 10 of This Season’s Hottest Sneakers</div>
          <ul class="list-reset blog-card__list">
            <li class="blog-card__item">Lifestyle</li>
            <li class="blog-card__item">July 16, 2020</li>
            <li class="blog-card__item">
              <svg class="blog-card__icon">
                <use xlink:href="img/sprite.svg#comment"></use>
              </svg>
              4 comments
            </li>
          </ul>
          <p class="blog-card__descr">
            Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus augue faucibus maecenas lacus...
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
