<section class="categories">
  <div class="container categories__container">
    <h3 class="section-title categories__title">Popular categories</h3>
    <ul class="list-reset categories__list">
      <li class="categories__item">
        <picture>
          <source srcset="img/tops.webp" type="image/webp">
          <img loading="lazy" src="img/tops.png" class="categories__image" width="180" height="180" alt="tops">
        </picture>
        <a href="#" class="categories__link">Tops</a>
      </li>
      <li class="categories__item">
        <picture>
          <source srcset="img/t-shirts.webp" type="image/webp">
          <img loading="lazy" src="img/t-shirts.png" class="categories__image" width="180" height="180" alt="t-shirts">
        </picture>
        <a href="#" class="categories__link">T-shirts</a>
      </li>
      <li class="categories__item">
        <picture>
          <source srcset="img/caps.webp" type="image/webp">
          <img loading="lazy" src="img/caps.png" class="categories__image" width="180" height="180" alt="caps">
        </picture>
        <a href="#" class="categories__link">Caps</a>
      </li>
      <li class="categories__item">
        <picture>
          <source srcset="img/sandals.webp" type="image/webp">
          <img loading="lazy" src="img/sandals.png" class="categories__image" width="180" height="180" alt="sandals">
        </picture>
        <a href="#" class="categories__link">Sandals</a>
      </li>
      <li class="categories__item">
        <picture>
          <source srcset="img/jackets.webp" type="image/webp">
          <img loading="lazy" src="img/jackets.png" class="categories__image" width="180" height="180" alt="jackets">
        </picture>
        <a href="#" class="categories__link">Jackets</a>
      </li>
      <li class="categories__item">
        <picture>
          <source srcset="img/coats.webp" type="image/webp">
          <img loading="lazy" src="img/coats.png" class="categories__image" width="180" height="180" alt="coats">
        </picture>
        <a href="#" class="categories__link">Coats</a>
      </li>
    </ul>
  </div>
</section>
