<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <div class="footer__part">
        <span class="footer__part-title">help</span>
        <ul class="list-reset footer__part-list">
          <li class="footer__part-item">
            <a href="#" class="footer__part-link">Delivery & returns</a>
          </li>
          <li class="footer__part-item">
            <a href="#" class="footer__part-link">FAQ</a>
          </li>
          <li class="footer__part-item">
            <a href="#" class="footer__part-link">Track order</a>
          </li>
          <li class="footer__part-item">
            <a href="#" class="footer__part-link">Contacts</a>
          </li>
          <li class="footer__part-item">
            <a href="#" class="footer__part-link">Blog</a>
          </li>
        </ul>
      </div>
      <div class="footer__part">
        <span class="footer__part-title">shope</span>
        <ul class="list-reset footer__part-list">
          <li class="footer__part-item">
            <a href="#" class="footer__part-link">New arrivals</a>
          </li>
          <li class="footer__part-item">
            <a href="#" class="footer__part-link">Trending now</a>
          </li>
          <li class="footer__part-item">
            <a href="#" class="footer__part-link">Sales</a>
          </li>
          <li class="footer__part-item">
            <a href="#" class="footer__part-link">Brands</a>
          </li>
        </ul>
      </div>
      <div class="footer__part">
        <span class="footer__part-title">get in touch</span>
        <ul class="list-reset footer__part-list footer__part-list--down">
          <li class="footer__part-item">
            <span class="footer__part-subtitle">Call:</span>
            <a class="footer__part-link" href="tel:+74055550128">(405) 555-0128</a>
          </li>
          <li class="footer__part-item">
            <span class="footer__part-subtitle">Email:</span>
            <a class="footer__part-link" href="mailto:hello@createx.com">hello@createx.com</a>
          </li>
        </ul>
        <ul class="list-reset social" title="we in social">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Our page in facebook">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--in" aria-label="Our page in instagram">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#in"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Our page in twitter">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#tw"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--yt" aria-label="Our page in youtube">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#yt"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--pt" aria-label="Our page in pinterest">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#pt"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__part">
        <span class="footer__part-title footer__part-title--down">Download our app</span>
        <ul class="list-reset store-list">
          <li class="store-item">
            <a href="#" class="store-link store-link-apple">
            </a>
          </li>
          <li class="store-item">
            <a href="#" class="store-link store-link-google">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__bottom-container">
      <div class="footer__bottom-copyright">
        © All rights reserved. Made with
        <svg class="footer__bottom-icon">
          <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
        by Createx Studio
      </div>
      <a href="#gototop" class="footer__bottom-link" data-scroll>Go to top</a>
    </div>
  </div>
</footer>
