<header class="header">
  <div class="header__top">
    <div class="header__top-container container" id="gototop">
      <div class="header__top-available">Available 24/7 at <a class="header__top-tel" href="tel:+4055550128">(405) 555-0128</a></div>
      <nav class="nav-top" title="Information">
        <ul class="list-reset nav-top__list">
          <li class="nav-top__item"><a href="#" class="nav-top__link">Delivery & returns</a></li>
          <li class="nav-top__item"><a href="#" class="nav-top__link">Track order</a></li>
          <li class="nav-top__item"><a href="#" class="nav-top__link">Blog</a></li>
          <li class="nav-top__item"><a href="#" class="nav-top__link">Contacts</a></li>
        </ul>
      </nav>
      <div class="header__top-choice">
        <div class="header__top-select">
          <select name="language" class="language-select">
            <option value="Eng / $">Eng / $</option>
            <option value="Esp / €">Esp / €</option>
            <option value="Ita / €">Ita / €</option>
            <option value="Can / $">Can / $</option>
            <option value="Nor / €">Nor / €</option>
            <option value="Fra / €">Fra / €</option>
          </select>
        </div>
        <div class="header__top-btns">
          <button class="btn-reset header__top-btn">Log in</button>
          <span>/</span>
          <button class="btn-reset header__top-btn">Register</button>
        </div>
      </div>
    </div>
  </div>
  <div class="header__middle">
    <div class="header__middle-container container">
      <a class="logo header__middle-logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="130" height="22" alt="Logo">
      </a>
      <nav class="nav-middle" title="Gender">
        <ul class="list-reset nav-middle__list">
          <li class="nav-middle__item">
            <button class="btn-reset nav-middle__link">Women</button>
            <div class="dropdown dropdown-women">
              <div class="container dropdown__container">
                <div class="dropdown__column">
                  <nav class="dropdown-nav" title="dropdown womens chapter">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">New collection</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Best Sellers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Plus Size</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link dropdown-nav__link--red">Sale up to 70%</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="catalog-filters.html" class="dropdown__title-link" target="_blank">Clothes</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens clothes">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Coats</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jackets</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Suits</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Dresses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Cardigans & sweaters</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sweatshirts & hoodies</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">T-shirts & tops</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Pants</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jeans</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Shorts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Skirts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Lingerie & nightwear</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sportswear</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Swimwear</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Shoes</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens shoes">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Boots</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Flat shoes</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Heels</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sandals</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Mules</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sliders</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Slippers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sneakers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Leather</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Accessories</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens accessories">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Bags & bagpacks</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Hats & scarves</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Hair accessories</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Belts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jewellery</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Watches</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sunglasses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Purses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Gloves</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Socks & tights</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__border">
                  <span></span>
                </div>
                <div class="dropdown__sale">
                  <picture>
                    <source srcset="img/dropdown-sale.webp" type="image/webp">
                    <img loading="lazy" src="img/dropdown-sale.png" class="dropdown__sale-image" width="285" height="285" alt="sale 50%">
                  </picture>
                  <span class="dropdown__sale-title">Back to school. Sale up to 50%</span>
                  <a href="#" class="btn dropdown__sale-link">See offers
                    <svg class="arrow-btn">
                      <use xlink:href="img/sprite.svg#arrow-btn-right"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-middle__item">
            <button class="btn-reset nav-middle__link">Men</button>
            <div class="dropdown dropdown-men">
              <div class="container dropdown__container">
                <div class="dropdown__column">
                  <nav class="dropdown-nav" title="dropdown womens chapter">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">New collection</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Best Sellers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Plus Size</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link dropdown-nav__link--red">Sale up to 70%</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Clothes</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens clothes">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sweaters</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jeans</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Gloves</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Suits</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Shorts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jacket</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Polo shirt</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Pants</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Socks</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Cardigans</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Skirts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Business shoes</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sportswear</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Swimwear</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Shoes</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens shoes">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Boots</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Flat shoes</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Heels</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sandals</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Mules</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sliders</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Slippers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sneakers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Leather</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Accessories</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens accessories">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Bags & bagpacks</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Hats & scarves</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Hair accessories</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Belts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jewellery</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Watches</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sunglasses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Purses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Gloves</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Socks & tights</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__border">
                  <span></span>
                </div>
                <div class="dropdown__sale">
                  <picture>
                    <source srcset="img/dropdown-sale.webp" type="image/webp">
                    <img loading="lazy" src="img/dropdown-sale.png" class="dropdown__sale-image" width="285" height="285" alt="sale 50%">
                  </picture>
                  <span class="dropdown__sale-title">Back to school. Sale up to 50%</span>
                  <a href="#" class="btn dropdown__sale-link">See offers
                    <svg class="arrow-btn">
                      <use xlink:href="img/sprite.svg#arrow-btn-right"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-middle__item">
            <button class="btn-reset nav-middle__link">Girls</button>
            <div class="dropdown dropdown-girls">
              <div class="container dropdown__container">
                <div class="dropdown__column">
                  <nav class="dropdown-nav" title="dropdown womens chapter">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">New collection</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Best Sellers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Plus Size</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link dropdown-nav__link--red">Sale up to 70%</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Clothes</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens clothes">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">T-shirts & tops</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Skirts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Dresses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sportswear</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sweatshirts & hoodies</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Swimwear</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Coats</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jackets</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Suits</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Cardigans & sweaters</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Pants</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jeans</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Shorts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Lingerie & nightwear</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Shoes</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens shoes">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Boots</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Flat shoes</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Heels</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sandals</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Mules</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sliders</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Slippers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sneakers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Leather</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Accessories</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens accessories">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Bags & bagpacks</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Hats & scarves</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Hair accessories</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Belts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jewellery</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Watches</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sunglasses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Purses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Gloves</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Socks & tights</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__border">
                  <span></span>
                </div>
                <div class="dropdown__sale">
                  <picture>
                    <source srcset="img/dropdown-sale.webp" type="image/webp">
                    <img loading="lazy" src="img/dropdown-sale.png" class="dropdown__sale-image" width="285" height="285" alt="sale 50%">
                  </picture>
                  <span class="dropdown__sale-title">Back to school. Sale up to 50%</span>
                  <a href="#" class="btn dropdown__sale-link">See offers
                    <svg class="arrow-btn">
                      <use xlink:href="img/sprite.svg#arrow-btn-right"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-middle__item">
            <button class="btn-reset nav-middle__link">Boys</button>
            <div class="dropdown dropdown-boys">
              <div class="container dropdown__container">
                <div class="dropdown__column">
                  <nav class="dropdown-nav" title="dropdown womens chapter">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">New collection</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Best Sellers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Plus Size</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link dropdown-nav__link--red">Sale up to 70%</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Clothes</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens clothes">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Swimwear</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Dresses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jeans</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">T-shirts & tops</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Lingerie & nightwear</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Cardigans & sweaters</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jackets</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Shorts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Skirts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sweatshirts & hoodies</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Coats</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Suits</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Pants</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sportswear</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Shoes</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens shoes">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Boots</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Flat shoes</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Heels</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sandals</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Mules</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sliders</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Slippers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sneakers</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Leather</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__column">
                  <h3 class="dropdown__title">
                    <a href="#" class="dropdown__title-link" target="_blank">Accessories</a>
                  </h3>
                  <nav class="dropdown-nav" title="dropdowm womens accessories">
                    <ul class="list-reset dropdown-nav__list">
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Bags & bagpacks</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Hats & scarves</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Hair accessories</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Belts</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Jewellery</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Watches</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Sunglasses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Purses</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Gloves</a></li>
                      <li class="dropdown-nav__item"><a href="#" class="dropdown-nav__link">Socks & tights</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="dropdown__border">
                  <span></span>
                </div>
                <div class="dropdown__sale">
                  <picture>
                    <source srcset="img/dropdown-sale.webp" type="image/webp">
                    <img loading="lazy" src="img/dropdown-sale.png" class="dropdown__sale-image" width="285" height="285" alt="sale 50%">
                  </picture>
                  <span class="dropdown__sale-title">Back to school. Sale up to 50%</span>
                  <a href="#" class="btn dropdown__sale-link">See offers
                    <svg class="arrow-btn">
                      <use xlink:href="img/sprite.svg#arrow-btn-right"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-middle__item">
            <a href="#" class="nav-middle__link nav-middle__link-red">Sale</a>
          </li>
        </ul>
      </nav>
      <form action="https://jsonplaceholder.typicode.com/posts" class="search" method="post" autocomplete="off">
        <input type="search" class="input-reset search__input" placeholder="Search for products...">
        <button class="search__btn btn-reset" tabindex="-1">
          <svg class="search__icon">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
      </form>
      <div class="header__middle-icons">
        <button class="btn-reset header__middle-count">
          <svg class="header__middle-icon">
            <use xlink:href="img/sprite.svg#heart"></use>
          </svg>
          <span class="header__middle-likes">2</span>
        </button>
        <button class="btn-reset header__middle-count">
          <svg class="header__middle-icon">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <span class="header__middle-sells">4</span>
        </button>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-container container">
      <div class="header__bottom-content">
        <span class="header__bottom-percent">Up to 70% Off.</span>
        <a href="#" class="header__bottom-link">Shop our latest sale styles</a>
      </div>
    </div>
  </div>
</header>
