<section class="hero">
  <div class="hero__container">
    <h1 class="visually-hidden">Createx site</h1>
    <div class="swiper hero__swiper">
      <button class="btn-reset btn-slider hero__swiper-btn hero__swiper-btn--prev">
        <svg class="arrow-slider">
          <use xlink:href="img/sprite.svg#arrow-slider-left"></use>
        </svg>
      </button>
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide hero__slide-mens">
          <div class="container hero__content">
            <span class="hero__content-collection">New collection</span>
            <h2 class="hero__content-title">Menswear 2020</h2>
            <div class="hero__content-links">
              <a href="#" class="hero__content-link btn btn-stroke">Shop sale</a>
              <a href="#" class="hero__content-link btn btn-fill">Shop the menswear</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero__slide hero__slide-womens">
          <div class="container hero__content">
            <span class="hero__content-collection">New collection</span>
            <h2 class="hero__content-title">Womenswear 2020</h2>
            <div class="hero__content-links">
              <a href="#" class="hero__content-link btn btn-stroke">Shop sale</a>
              <a href="#" class="hero__content-link btn btn-fill">Shop the Womenswear</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero__slide hero__slide-boys">
          <div class="container hero__content">
            <span class="hero__content-collection">New collection</span>
            <h2 class="hero__content-title">Boyswear 2020</h2>
            <div class="hero__content-links">
              <a href="#" class="hero__content-link btn btn-stroke">Shop sale</a>
              <a href="#" class="hero__content-link btn btn-fill">Shop the Boyswear</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero__slide hero__slide-girls">
          <div class="container hero__content">
            <span class="hero__content-collection">New collection</span>
            <h2 class="hero__content-title">Girlswear 2020</h2>
            <div class="hero__content-links">
              <a href="#" class="hero__content-link btn btn-stroke">Shop sale</a>
              <a href="#" class="hero__content-link btn btn-fill">Shop the Girlswear</a>
            </div>
          </div>
        </div>
      </div>
      <button class="btn-reset btn-slider hero__swiper-btn hero__swiper-btn--next">
        <svg class="arrow-slider">
          <use xlink:href="img/sprite.svg#arrow-slider-right"></use>
        </svg>
      </button>
      <div class="container hero__swiper-pagination"></div>
    </div>
    <div class="container gender">
      <ul class="list-reset gender__list">
        <li class="gender__item">
          <picture>
            <source srcset="img/gender-woman.webp" type="image/webp">
            <img loading="lazy" src="img/gender-woman.png" class="gender__image" width="390" height="390" alt="Women’s">
          </picture>
          <a href="#" class="gender__link">Women’s</a>
        </li>
        <li class="gender__item">
          <picture>
            <source srcset="img/gender-man.webp" type="image/webp">
            <img loading="lazy" src="img/gender-man.png" class="gender__image" width="390" height="390" alt="Men’s">
          </picture>
          <a href="#" class="gender__link">Men’s</a>
        </li>
        <li class="gender__item">
          <picture>
            <source srcset="img/gender-kid.webp" type="image/webp">
            <img loading="lazy" src="img/gender-kid.png" class="gender__image" width="390" height="390" alt="Kids’">
          </picture>
          <a href="#" class="gender__link">Kids’</a>
        </li>
      </ul>
    </div>
  </div>
</section>
