<section class="instagram">
  <div class="container instagram__container">
    <div class="instagram__info">
      <div class="instagram__follow">Follow us on Instagram</div>
      <div class="instagram__contact">@createx_store</div>
      <a href="#" class="instagram__link btn">
        <svg class="instagram__icon">
          <use xlink:href="img/sprite.svg#instagram"></use>
        </svg>
        Follow instagram
      </a>
    </div>
    <ul class="list-reset instagram__list">
      <li class="instagram__item">
        <picture>
          <source srcset="img/instagram-1.webp" type="image/webp">
          <img loading="lazy" src="img/instagram-1.png" class="instagram__image" width="260" height="260" alt="man">
        </picture>
      </li>
      <li class="instagram__item">
        <picture>
          <source srcset="img/instagram-2.webp" type="image/webp">
          <img loading="lazy" src="img/instagram-2.png" class="instagram__image" width="260" height="260" alt="cross">
        </picture>
      </li>
      <li class="instagram__item">
        <picture>
          <source srcset="img/instagram-3.webp" type="image/webp">
          <img loading="lazy" src="img/instagram-3.png" class="instagram__image" width="260" height="260" alt="kid">
        </picture>
      </li>
    </ul>
  </div>
</section>
