<section class="interesting">
  <div class="container interesting__container">
    <div class="interesting__top">
      <h3 class="section-title interesting__title">You may be interested in</h3>
      <div class="interesting__btns">
        <button class="btn-reset btn-slider btn-slider-trending interesting__btn-prev">
          <svg class="arrow-slider arrow-slider-trending">
            <use xlink:href="img/sprite.svg#arrow-slider-left"></use>
          </svg>
        </button>
        <button class="btn-reset btn-slider btn-slider-trending interesting__btn-next">
          <svg class="arrow-slider arrow-slider-trending">
            <use xlink:href="img/sprite.svg#arrow-slider-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper interesting__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card card-trending">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/trending-product1.webp" type="image/webp">
                <img loading="lazy" src="img/trending-product1.png" class="card__image" width="390" height="440" alt="shirt">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Shirt with insertion lace trims</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$49.95</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-trending">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star">
                  <use xlink:href="img/sprite.svg#card-star"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/trending-product2.webp" type="image/webp">
                <img loading="lazy" src="img/trending-product2.png" class="card__image" width="390" height="440" alt="watch">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Chrono watch with blue leather belt</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$120.60</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-sale">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/sale-product3.webp" type="image/webp">
                <img loading="lazy" src="img/sale-product3.png" class="card__image" width="390" height="440" alt="boots">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Wide heel suede ankle boots</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$119.16</span>
                <span class="card__price-sell">$148.95</span>
              </div>
            </div>
            <div class="card__content-bottom card__content-bottom-none">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">
                <svg class="card__content-btn-icon">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                Add to cart
              </button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-trending">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star">
                  <use xlink:href="img/sprite.svg#card-star"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/trending-product2.webp" type="image/webp">
                <img loading="lazy" src="img/trending-product2.png" class="card__image" width="390" height="440" alt="watch">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Chrono watch with blue leather belt</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$120.60</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-trending">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars card__stars-none">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/trending-product3.webp" type="image/webp">
                <img loading="lazy" src="img/trending-product3.png" class="card__image" width="390" height="440" alt="coat">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Check coat with colour contrast</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$183.45</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card card-trending">
            <div class="card__picture">
              <div class="card__percent">-50%</div>
              <div class="card__stars">
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
                <svg class="card__star card__star-fill">
                  <use xlink:href="img/sprite.svg#card-star-fill"></use>
                </svg>
              </div>
              <picture>
                <source srcset="img/trending-product1.webp" type="image/webp">
                <img loading="lazy" src="img/trending-product1.png" class="card__image" width="390" height="440" alt="shirt">
              </picture>
              <button class="btn-reset card__btn">
                <svg class="card__heart">
                  <use xlink:href="img/sprite.svg#card-heart"></use>
                </svg>
              </button>
            </div>
            <div class="card__content-top">
              <a href="#" class="card__link">Shirt with insertion lace trims</a>
              <div class="card__price">
                <span class="card__price-real card__price-real--red">$49.95</span>
                <span class="card__price-sell">$179.00</span>
              </div>
            </div>
            <div class="card__content-bottom">
              <div class="card__content-btns">
                <ul class="list-reset card__content-list">
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">36</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">37</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">38</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">39</button>
                  </li>
                  <li class="card__content-item">
                    <button class="btn-reset btn-content">40</button>
                  </li>
                </ul>
                <ul class="list-reset card__tabs">
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-black"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-russet"></span>
                    </button>
                  </li>
                  <li class="card__tabs-item">
                    <button class="btn-reset card__tabs-btn">
                      <span class="card__tabs-btn-spindel"></span>
                    </button>
                  </li>
                </ul>
              </div>
              <button class="btn-reset btn btn-fill card__content-btn">Add to cart</button>
            </div>
          </article>
        </div>
      </div>
    </div>
    <!-- <div class="trending__link">
      <a href="#" class="btn-reset btn">Explore top sales</a>
    </div> -->
  </div>
</section>
