<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Close modal window"></button>
    <div class="graph-modal__content">
      <h4 class="graph-modal__title">Size chart</h4>
      <div class="tabs tabs-size" data-tabs="modal-size-tabs">
        <ul class="list-reset tabs__nav tabs-size__nav">
          <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Women</button></li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Men</button></li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Kids</button></li>
        </ul>
        <div class="tabs__content tabs-size__content">
          <div class="tabs__panel tabs__panel-size">
            <span class="tabs__panel-size-title">Footwear</span>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Europe</li>
              <li class="tabs__panel-size-item">35</li>
              <li class="tabs__panel-size-item">36</li>
              <li class="tabs__panel-size-item">37</li>
              <li class="tabs__panel-size-item">38</li>
              <li class="tabs__panel-size-item">39</li>
              <li class="tabs__panel-size-item">40</li>
              <li class="tabs__panel-size-item">41</li>
              <li class="tabs__panel-size-item">42</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Usa</li>
              <li class="tabs__panel-size-item">5</li>
              <li class="tabs__panel-size-item">6</li>
              <li class="tabs__panel-size-item">6.5</li>
              <li class="tabs__panel-size-item">7.5</li>
              <li class="tabs__panel-size-item">8</li>
              <li class="tabs__panel-size-item">9</li>
              <li class="tabs__panel-size-item">10</li>
              <li class="tabs__panel-size-item">11</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">United Ringdom</li>
              <li class="tabs__panel-size-item">2</li>
              <li class="tabs__panel-size-item">3</li>
              <li class="tabs__panel-size-item">4</li>
              <li class="tabs__panel-size-item">5</li>
              <li class="tabs__panel-size-item">6</li>
              <li class="tabs__panel-size-item">7</li>
              <li class="tabs__panel-size-item">8</li>
              <li class="tabs__panel-size-item">9</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">China</li>
              <li class="tabs__panel-size-item">230/83</li>
              <li class="tabs__panel-size-item">235/84</li>
              <li class="tabs__panel-size-item">240/85</li>
              <li class="tabs__panel-size-item">245/86</li>
              <li class="tabs__panel-size-item">255/87</li>
              <li class="tabs__panel-size-item">260/88</li>
              <li class="tabs__panel-size-item">265/89</li>
              <li class="tabs__panel-size-item">275/90</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Russia</li>
              <li class="tabs__panel-size-item">35</li>
              <li class="tabs__panel-size-item">36</li>
              <li class="tabs__panel-size-item">37</li>
              <li class="tabs__panel-size-item">38</li>
              <li class="tabs__panel-size-item">39</li>
              <li class="tabs__panel-size-item">40</li>
              <li class="tabs__panel-size-item">41</li>
              <li class="tabs__panel-size-item">42</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Italy</li>
              <li class="tabs__panel-size-item">35</li>
              <li class="tabs__panel-size-item">36</li>
              <li class="tabs__panel-size-item">37</li>
              <li class="tabs__panel-size-item">38</li>
              <li class="tabs__panel-size-item">39</li>
              <li class="tabs__panel-size-item">40</li>
              <li class="tabs__panel-size-item">41</li>
              <li class="tabs__panel-size-item">42</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">South Korea</li>
              <li class="tabs__panel-size-item">230</li>
              <li class="tabs__panel-size-item">235</li>
              <li class="tabs__panel-size-item">240</li>
              <li class="tabs__panel-size-item">245</li>
              <li class="tabs__panel-size-item">255</li>
              <li class="tabs__panel-size-item">260</li>
              <li class="tabs__panel-size-item">265</li>
              <li class="tabs__panel-size-item">275</li>
            </ul>
          </div>
          <div class="tabs__panel tabs__panel-size">
            <span class="tabs__panel-size-title">Footwear</span>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Europe</li>
              <li class="tabs__panel-size-item">40</li>
              <li class="tabs__panel-size-item">41</li>
              <li class="tabs__panel-size-item">42</li>
              <li class="tabs__panel-size-item">43</li>
              <li class="tabs__panel-size-item">44</li>
              <li class="tabs__panel-size-item">45</li>
              <li class="tabs__panel-size-item">46</li>
              <li class="tabs__panel-size-item">47</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Usa</li>
              <li class="tabs__panel-size-item">5</li>
              <li class="tabs__panel-size-item">6</li>
              <li class="tabs__panel-size-item">6.5</li>
              <li class="tabs__panel-size-item">7.5</li>
              <li class="tabs__panel-size-item">8</li>
              <li class="tabs__panel-size-item">9</li>
              <li class="tabs__panel-size-item">10</li>
              <li class="tabs__panel-size-item">11</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">United Ringdom</li>
              <li class="tabs__panel-size-item">2</li>
              <li class="tabs__panel-size-item">3</li>
              <li class="tabs__panel-size-item">4</li>
              <li class="tabs__panel-size-item">5</li>
              <li class="tabs__panel-size-item">6</li>
              <li class="tabs__panel-size-item">7</li>
              <li class="tabs__panel-size-item">8</li>
              <li class="tabs__panel-size-item">9</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">China</li>
              <li class="tabs__panel-size-item">230/83</li>
              <li class="tabs__panel-size-item">235/84</li>
              <li class="tabs__panel-size-item">240/85</li>
              <li class="tabs__panel-size-item">245/86</li>
              <li class="tabs__panel-size-item">255/87</li>
              <li class="tabs__panel-size-item">260/88</li>
              <li class="tabs__panel-size-item">265/89</li>
              <li class="tabs__panel-size-item">275/90</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Russia</li>
              <li class="tabs__panel-size-item">40</li>
              <li class="tabs__panel-size-item">41</li>
              <li class="tabs__panel-size-item">42</li>
              <li class="tabs__panel-size-item">43</li>
              <li class="tabs__panel-size-item">44</li>
              <li class="tabs__panel-size-item">45</li>
              <li class="tabs__panel-size-item">46</li>
              <li class="tabs__panel-size-item">47</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Italy</li>
              <li class="tabs__panel-size-item">40</li>
              <li class="tabs__panel-size-item">41</li>
              <li class="tabs__panel-size-item">42</li>
              <li class="tabs__panel-size-item">43</li>
              <li class="tabs__panel-size-item">44</li>
              <li class="tabs__panel-size-item">45</li>
              <li class="tabs__panel-size-item">46</li>
              <li class="tabs__panel-size-item">47</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">South Korea</li>
              <li class="tabs__panel-size-item">230</li>
              <li class="tabs__panel-size-item">235</li>
              <li class="tabs__panel-size-item">240</li>
              <li class="tabs__panel-size-item">245</li>
              <li class="tabs__panel-size-item">255</li>
              <li class="tabs__panel-size-item">260</li>
              <li class="tabs__panel-size-item">265</li>
              <li class="tabs__panel-size-item">275</li>
            </ul>
          </div>
          <div class="tabs__panel tabs__panel-size">
            <span class="tabs__panel-size-title">Footwear</span>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Europe</li>
              <li class="tabs__panel-size-item">25</li>
              <li class="tabs__panel-size-item">26</li>
              <li class="tabs__panel-size-item">27</li>
              <li class="tabs__panel-size-item">28</li>
              <li class="tabs__panel-size-item">29</li>
              <li class="tabs__panel-size-item">30</li>
              <li class="tabs__panel-size-item">31</li>
              <li class="tabs__panel-size-item">32</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Usa</li>
              <li class="tabs__panel-size-item">5</li>
              <li class="tabs__panel-size-item">6</li>
              <li class="tabs__panel-size-item">6.5</li>
              <li class="tabs__panel-size-item">7.5</li>
              <li class="tabs__panel-size-item">8</li>
              <li class="tabs__panel-size-item">9</li>
              <li class="tabs__panel-size-item">10</li>
              <li class="tabs__panel-size-item">11</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">United Ringdom</li>
              <li class="tabs__panel-size-item">2</li>
              <li class="tabs__panel-size-item">3</li>
              <li class="tabs__panel-size-item">4</li>
              <li class="tabs__panel-size-item">5</li>
              <li class="tabs__panel-size-item">6</li>
              <li class="tabs__panel-size-item">7</li>
              <li class="tabs__panel-size-item">8</li>
              <li class="tabs__panel-size-item">9</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">China</li>
              <li class="tabs__panel-size-item">230/83</li>
              <li class="tabs__panel-size-item">235/84</li>
              <li class="tabs__panel-size-item">240/85</li>
              <li class="tabs__panel-size-item">245/86</li>
              <li class="tabs__panel-size-item">255/87</li>
              <li class="tabs__panel-size-item">260/88</li>
              <li class="tabs__panel-size-item">265/89</li>
              <li class="tabs__panel-size-item">275/90</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Russia</li>
              <li class="tabs__panel-size-item">25</li>
              <li class="tabs__panel-size-item">26</li>
              <li class="tabs__panel-size-item">27</li>
              <li class="tabs__panel-size-item">28</li>
              <li class="tabs__panel-size-item">29</li>
              <li class="tabs__panel-size-item">30</li>
              <li class="tabs__panel-size-item">31</li>
              <li class="tabs__panel-size-item">32</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Italy</li>
              <li class="tabs__panel-size-item">25</li>
              <li class="tabs__panel-size-item">26</li>
              <li class="tabs__panel-size-item">27</li>
              <li class="tabs__panel-size-item">28</li>
              <li class="tabs__panel-size-item">29</li>
              <li class="tabs__panel-size-item">30</li>
              <li class="tabs__panel-size-item">31</li>
              <li class="tabs__panel-size-item">32</li>
            </ul>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">South Korea</li>
              <li class="tabs__panel-size-item">230</li>
              <li class="tabs__panel-size-item">235</li>
              <li class="tabs__panel-size-item">240</li>
              <li class="tabs__panel-size-item">245</li>
              <li class="tabs__panel-size-item">255</li>
              <li class="tabs__panel-size-item">260</li>
              <li class="tabs__panel-size-item">265</li>
              <li class="tabs__panel-size-item">275</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tabs tabs-size" data-tabs="modal-size-tabs-length">
        <div class="tabs__top">
          <span class="tabs__name">I want to see size equivalence in: </span>
          <ul class="list-reset tabs__nav tabs-size__nav">
            <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Cm</button></li>
            <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Inches</button></li>
          </ul>
        </div>
        <div class="tabs__content tabs-size__content">
          <div class="tabs__panel tabs__panel-size">
            <span class="tabs__panel-size-title">Equivalence in centimetres</span>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Foot length</li>
              <li class="tabs__panel-size-item">22.4 cm</li>
              <li class="tabs__panel-size-item">23 cm</li>
              <li class="tabs__panel-size-item">23.6 cm</li>
              <li class="tabs__panel-size-item">24.3 cm</li>
              <li class="tabs__panel-size-item">24.9 cm</li>
              <li class="tabs__panel-size-item">25.5 cm</li>
              <li class="tabs__panel-size-item">26.2 cm</li>
              <li class="tabs__panel-size-item">26.8 cm</li>
            </ul>
          </div>
          <div class="tabs__panel tabs__panel-size">
            <span class="tabs__panel-size-title">Equivalence in centimetres</span>
            <ul class="list-reset tabs__panel-size-list">
              <li class="tabs__panel-size-item tabs__panel-size-item--name">Foot length</li>
              <li class="tabs__panel-size-item">8.6 inch</li>
              <li class="tabs__panel-size-item">9.1 inch</li>
              <li class="tabs__panel-size-item">9.2 inch</li>
              <li class="tabs__panel-size-item">9.4 inch</li>
              <li class="tabs__panel-size-item">9.5 inch</li>
              <li class="tabs__panel-size-item">9.8 inch</li>
              <li class="tabs__panel-size-item">10.2 inch</li>
              <li class="tabs__panel-size-item">10.3 inch</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
