<section class="services">
  <div class="container services__container">
    <ul class="list-reset services__list">
      <li class="services__item services__item-shipping">
        <div class="services__title">Fast Worldwide Shipping</div>
        <div class="services__info">Get free shipping over $250</div>
      </li>
      <li class="services__item services__item-support">
        <div class="services__title">24/7 Customer Support</div>
        <div class="services__info">Friendly 24/7 customer support</div>
      </li>
      <li class="services__item services__item-guarantee">
        <div class="services__title">Money Back Guarantee</div>
        <div class="services__info">We return money within 30 days</div>
      </li>
      <li class="services__item services__item-payment">
        <div class="services__title">Secure Online Payment</div>
        <div class="services__info">Accept all major credit cards</div>
      </li>
    </ul>
  </div>
</section>
