<section class="store">
  <div class="container store__container">
    <div class="store__content">
      <p class="store__descr">Enjoy mobile shopping with our Createx Store App!</p>
      <ul class="list-reset store-list">
        <li class="store-item">
          <a href="#" class="store-link store-link-apple">
          </a>
        </li>
        <li class="store-item">
          <a href="#" class="store-link store-link-google">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
