<section class="subscribe">
  <div class="container subscribe__container">
    <div class="subscribe__content">
      <h3 class="section-title subscribe__title">Subscribe for updates</h3>
      <div class="subscribe__text">Subscribe for exclusive early sale access and new arrivals.</div>
      <ul class="list-reset subscribe__list">
        <li class="subscribe__item">
          <button class="btn-reset btn subscribe__btn">Women</button>
        </li>
        <li class="subscribe__item">
          <button class="btn-reset btn subscribe__btn">Men</button>
        </li>
        <li class="subscribe__item">
          <button class="btn-reset btn subscribe__btn subscribe__btn-active">Girls</button>
        </li>
        <li class="subscribe__item">
          <button class="btn-reset btn subscribe__btn">Boys</button>
        </li>
      </ul>
      <div class="subscribe-form">
        <span class="subscribe-form__email">Email</span>
        <form action="#" class="form-2 subscribe-form__form" autocomplete="off">
          <label class="form__label subscribe-form__form-label">
            <input type="text" name="Your working email" class="form__input input-reset subscribe-form__form-input" placeholder="Your working email">
          </label>
          <button type="submit" class="btn-reset btn btn-fill form__btn subscribe-form__form-btn" aria-label="Subscribe">Subscribe</button>
        </form>
      </div>
      <label class="custom-checkbox">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">I agree to receive communications from Createx Store.</span>
      </label>
    </div>
  </div>
</section>
